/* src/styles.css */
.cake-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cake-card {
  width: 200px;
  margin: 10px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.cake-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

button {
  background-color: #ff6347;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e5533c;
}
